html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#game, #game > .row {
    height: 100%;
    width: 100%;
    margin: 0;
}

#frame {
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 0;
}

#consoleDiv {
    background: rgba(20,20,20,0.8);
    color: #45D40C;
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    -webkit-transition: all .5s ease; /* Safari */
    transition: all .5s ease;
}

    #consoleDiv.hiddenConsole {
        top: -200px;
    }

    #consoleDiv > ul {
        margin: 0;
        list-style: none;
        padding: 10px;
    }

    #consoleDiv li:before {
        content: '>';
        position: absolute;
        left: 0;
        top: 0;
    }

    #consoleDiv li {
        word-wrap: break-word;
        position: relative;
        padding: 0 0 0 15px;
    }

#codeBlocks {
    padding-top: 25px;
}

.codeBlock {
    padding-top: 4px;
    margin: 10px;
}

    .codeBlock > .title {
        text-align: center;
        position: relative;
        font-weight: 500;
    }

    .codeBlock > hr {
        margin-top: 0;
        margin: 0 4px;
    }

    .codeBlock .dropPart {
        padding: 20px 0;
    }

/*https://www.color-hex.com/color-palette/19053*/
.ShootElement,
.ShootElement > .title > [type="checkbox"]:checked + label:after,
.ShootElement > .title > [type="checkbox"]:not(:checked) + label:after {
    background: #fffddb !important;
}

.BranchingElement,
.BranchingElement > .title > [type="checkbox"]:checked + label:after,
.BranchingElement > .title > [type="checkbox"]:not(:checked) + label:after {
    background: #ffd3fd !important;
}

.IdleElement,
.IdleElement > .title > [type="checkbox"]:checked + label:after,
.IdleElement > .title > [type="checkbox"]:not(:checked) + label:after {
    background: #f1f1f1 !important;
}

.IsEnemyNearCondition,
.IsEnemyNearCondition > .title > [type="checkbox"]:checked + label:after,
.IsEnemyNearCondition > .title > [type="checkbox"]:not(:checked) + label:after {
    background: #d0fffe !important;
}
