html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#game, #game > .row {
    height: 100%;
    width: 100%;
    margin: 0;
}

#frame {
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 0;
}

#consoleDiv {
    background: rgba(20,20,20,0.8);
    color: #45D40C;
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    -webkit-transition: all .5s ease; /* Safari */
    transition: all .5s ease;
}

    #consoleDiv.hiddenConsole {
        top: -200px;
    }

    #consoleDiv > ul {
        margin: 0;
        list-style: none;
        padding: 10px;
    }

    #consoleDiv li:before {
        content: '>';
        position: absolute;
        left: 0;
        top: 0;
    }

    #consoleDiv li {
        word-wrap: break-word;
        position: relative;
        padding: 0 0 0 15px;
    }

.codeBlocksContainer {
    height: 100%;
    overflow-y: scroll;
    padding: 20px 0;
}

.codeBlock {
    padding-top: 4px;
    margin: 10px;
}

    .codeBlock > .title {
        text-align: center;
        position: relative;
        font-weight: 500;
    }

        .codeBlock > .title > .dragMe {
            width: 20px;
            height: 20px;
            background: url('https://cdn4.iconfinder.com/data/icons/design-2d-cad-outline-set-1/60/008.Move-512.png');
            /* TODO MOVE TO LOCAL*/
            background-size: contain;
            opacity: .5;
            float: left;
            margin: 5px;
            position: relative;
            cursor: grab;
        }

#codeBlocks .dropPart {
    margin: 0 10px;
    border-radius: 20px;
    border: 0 dashed #fff;
    height: 0;
    background: rgba(255,255,255,0.4);
    -webkit-transition: all .1s ease; /* Safari */
    transition: all .1s ease;
}

    #codeBlocks .dropPart.active {
        height: 40px !important;
        border: 2px dashed #ccc !important;
    }

/*https://www.color-hex.com/color-palette/19053*/
.ShootElement,
.ShootElement > .title > [type="checkbox"]:checked + label:after,
.ShootElement > .title > [type="checkbox"]:not(:checked) + label:after {
    background: #fffddb !important;
}

.BranchingElement,
.BranchingElement > .title > [type="checkbox"]:checked + label:after,
.BranchingElement > .title > [type="checkbox"]:not(:checked) + label:after {
    background: #ffd3fd !important;
}

.IdleElement,
.IdleElement > .title > [type="checkbox"]:checked + label:after,
.IdleElement > .title > [type="checkbox"]:not(:checked) + label:after {
    background: #f1f1f1 !important;
}

.IsEnemyNearCondition,
.IsEnemyNearCondition > .title > [type="checkbox"]:checked + label:after,
.IsEnemyNearCondition > .title > [type="checkbox"]:not(:checked) + label:after {
    background: #d0fffe !important;
}

/* DRAG DROP*/
.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

#compile {
    cursor: pointer;
    background: #77DD77;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    line-height: 40px;
    margin: 15px 20%;
    font-weight: 600;
}
