@page
<!-- This style is to remove padding from all elements,
  it's needed for the canvas to properly fit the window -->
<!-- I don't know how to do this using Razor... -->
<!--<style>* {padding: 0; margin: 0}</style>-->
<div id="consoleDiv" class="hiddenConsole">
    <ul>
        <li>
            Press T to spawn enemy, SPACE to fire a dumb bullet.
        </li>
        <li id="fps">
        <li id="serverUps">

        </li>
    </ul>
</div>

<div id="game">
    <div class="row">
        <div id="frame" class="col-sm-9">
        </div>
        <div class="col-sm-3">
            <div id="compile">COMPILE</div>
            <div id="codeBlocks">
        </div>
       </div>
    </div>
</div>
